# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
*.properties
build/generated-sources/ap-source-output/Comic_.java
build/generated-sources/ap-source-output/Entrega_.java
build/web/WEB-INF/classes/ejb/ComicFacade.class
build/web/WEB-INF/classes/ejb/EntregaFacade.class
build/web/WEB-INF/classes/entity/Comic.class 
build/web/WEB-INF/classes/entity/Entrega.class


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
